In [1]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('all_data_organized.csv')
display(data.head())
display(data.shape) 
print ('# of movies: ')
display(data['movie'].value_counts().shape)

      user  rating        date  movie
0  2385003     4.0  2004-07-08  13368
1   659432     3.0  2005-03-16  13368
2   751812     2.0  2002-12-16  13368
3  2625420     2.0  2004-05-25  13368
4  1650301     1.0  2005-08-30  13368

(26847523, 4)

# of movies:

(4403,)

# Create a sample

In [31]:
number_of_users = 25000
probabilites = data['user'].value_counts()/data.shape[0]
users_sample = np.random.choice(probabilites.index.values, number_of_users, replace=False, p= probabilites)
sample = data[data.user.isin(users_sample)]
print ('sample shape: ')
display(sample.shape)
print ('# of movies: ')
display(sample['movie'].value_counts().shape)
display(data['user'].value_counts().shape)
print ('# of users: ')
display(sample['user'].value_counts().shape)

sample shape:

(12696087, 4)

# of movies:

(4402,)

(475601,)

# of users:

(100000,)

In [9]:
sample.to_csv('25k_users_sample.csv', index = False)